.navbar {
  background-color: #000;
  flex-wrap: nowrap;
  justify-content: left;
  position: sticky !important;
  top: 0 !important;
  z-index: 1;
}
.navbar__message {
  color: whitesmoke;
}
.navbar_items_position {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navbar__item {
  list-style-type: none;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
@media (min-width: 1250px) {
  .navbar__item {
    list-style-type: none;
    margin: 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }
}
.navbar-text {
  color: whitesmoke;
  justify-content: left;
}
