@import url("https://fonts.googleapis.com/css?family=Lobster+Two&display=swap");

.navbar {
  background-color: #363738;
  flex-wrap: nowrap;
  justify-content: left;
  position: sticky !important;
  top: 0 !important;
  z-index: 1;
}

.navbar__message {
  color: whitesmoke;
  font-family: "Lobster Two";
}

.navbar_items_position {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar__item {
  position: relative;
  left: 180px;
  list-style-type: none;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.navbar__item:hover {
  color: black;
}

.logoutButton {
  background-color: #fff !important;
}

.logoutButton:hover {
  background-color: black !important;
  color: #fff !important;
}

@media (min-width: 1250px) {
  .navbar__item {
    position: relative;
    left: 0px;
    list-style-type: none;
    margin: 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }
}

.navbar-text {
  color: whitesmoke;
  justify-content: left;
}
