@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap");

.imageSize {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
}
.barberCards {
  flex-basis: 38%;
  text-align: center;
  margin: 8px;
  max-height: 550px;
}
.barberReviewCards {
  flex-wrap: wrap;
  border: 1px solid;
  flex-basis: 49%;
  text-align: center;
  margin: 8px;
}
.barberCardInfo {
  margin: 8px;
}
.listOfBarbers {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.barberForm {
  max-width: 250px;
  max-height: 190px;
  margin-left: 10px;
}
.barberShopList {
  padding: 5px;
  margin-top: 45px;
  max-height: 500px;
  overflow-y: auto;
}
.dropdown-backdrop {
  position: static;
  z-index: -1;
}
.form-btns {
  display: flex;
  justify-content: space-between;
}
.listOfBarbersPlacement {
  margin-top: 100px;
}
::-webkit-scrollbar {
  display: none;
}
.listOfBarbersHeading {
  text-align: center;
}
.loading {
  text-align: center;
  margin-top: 150px;
}
.review-btns {
  justify-content: space-between;
}
